<div class="alert alert-info">
    {{ report.essence.summarySentence }}
</div>
<pre>
    Repos: {{ report.publicRepoCount }}
    Followers: {{ report.followers }}
    Registered: {{ report.createdAt }}
</pre>